doctype 5
html(lang="en", ng-app="App")
	head
		title App
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js")
		- if(typeof ENV !== 'undefined') {

			//- CSS Build File
			link(rel="stylesheet", href="/public/css/dist/styles.min.css")
			//- JS Build File
			script(src="/public/js/dist/build.min.js?#{timeStamp}")

		- } else {
			link(rel="stylesheet", type="text/css", href="/public/css/lib/styles.css")
			script(src="/public/js/lib/scripts.js?#{timeStamp}")
		- }



	body
		.total-content
			.container.total-content-inside
				block content
		include footer		